.jumbotron h1 {
    background-color: aqua;
}

nav.nav > * {
    background-color: rgb(68, 0, 255);
}

.jumbotron>div>p.lead>a.text-white {
    background-color:red;
}

div > div.blog-post:nth-child(2) {
    background-color:red;
}


